.q {
    font-size: 45px;
    text-align: center;
}
.a {
    font-size: 45px;
    text-align: center;
    color: red;
}
.link {
    text-align: center;
    color: blue;
    text-decoration: none;
}